body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 800px;
  width: 800px;
}

.row {
  display: flex;
}

.cell {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  filter: brightness(50%);
}

.cell.dark {
  background-color: #86A1B4;
}

.cell.light {
  background-color: #DAE3E6;
}

.cell.yellow {
  background-color: rgba(255, 255, 0, 0.479) !important;
}

.cell img {
  height: 90%;
  width: 90%;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;;
}