/* Make sure the chessboard always keeps its square aspect ratio */
.chessboard {
  width: 100%;
  aspect-ratio: 1 / 1;
  min-width: 300px;
  min-height: 300px;
}

.chessboard .row {
  display: flex;
  width: 100%;
  height: 12.5%;
}

.chessboard .row .cell {
  width: 12.5%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chessboard .row .cell.light {
  background-color: var(--light-color);

}

.chessboard .row .cell.dark {
  background-color: var(--dark-color);
}

.chessboard .row .cell img {
  height: 80%;
  width: 80%;
}

/* Hides chess pieces <img>'s that have no src attribute (empty pieces) */
.chessboard .row .cell img[src=""] {
  display: none;
}


.chessboard .row .cell .label {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
}

/* change the font of the row & column labels when the screen gets small */
@media (max-width: 500px) {
  .chessboard .row .cell .label {
    font-size: 12px;
  }
}

.chessboard .row .cell .label.number {
  top: 2px;
  left: 2px;
}

.chessboard .row .cell .label.letter {
  bottom: 2px;
  right: 2px;
}